<nav class="tabs">
    <a href="{{ url_for('wands_origin') }}" class="tab-link {% if active_tab == 'origin' %}active{% endif %}">Origem</a>
    <a href="{{ url_for('wands_woods') }}" class="tab-link {% if active_tab == 'woods' %}active{% endif %}">Madeiras</a>
    <a href="{{ url_for('wands_cores') }}" class="tab-link {% if active_tab == 'cores' %}active{% endif %}">Núcleos</a>
    <a href="{{ url_for('world') }}" class="tab-link {% if active_tab == 'world' %}active{% endif %}">
        O Mundo Mágico
    </a>
</nav>